@import "../../styles/variables";

div.tabs-container {
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    li {
      flex: 1;
      display: inline-block;
      position: relative;
      text-align: center;
      height: auto;
      padding: 12px 8px;
      font-size: 16px;

      &:hover {
        cursor: pointer;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        margin-top: 8px;
        width: 0;
        height: 6px;
        background-color: $primary-color;
        border-radius: 4px;
        transition: all 0.2s linear;
      }

      &.active:after {
        left: 0;
        width: 100%;
      }
    }
  }
}
