@import '../../../../styles/variables.scss';

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: $header-height;
    padding: 8px 12px;

    .search-input {
        flex: 1;
        align-self: stretch;
        border: none;
        font-size: 16px;
        font-weight: 600;
        &:active,
        &:focus,
        &:visited {
            border: none !important;
            outline: none !important;
        }
        &::placeholder {
            color: rgba($color: #000, $alpha: .4);
        }
    }

    .close-icon {
        cursor: pointer;
    }
}