@import 'styles/variables.scss';

div.screen {
  position: relative;
  height: 10px;
  width: 100%;
  background-color: $secondary-color;

  &::after {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    content: "SCREEN";
    font-size: 16px;
    font-weight: 600;
    color: $primary-text-color;
  }
}

div.seating-plan {
  display: flex;
  flex-direction: column;
  margin-top: 32px;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
