@import "../../styles/variables";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: white;
  padding: 12px;
  height: $header-height;

  .title {
    font-size: 24px;
  }
}

.menu-icon {
  font-size: 24px;
  color: $primary-text-color;
}
