@import '../../../styles/variables.scss';

form.payment-form {
  display: flex;
  flex-direction: column;
  font-size: 18px;

  label {
    margin: 12px 0 4px 0;
  }

  input {
    height: 36px;
    padding: 4px 4px;
    font-size: 16px;
    border: 2px solid $third-color;
    border-radius: 12px;
  }

  .errorMsg {
    color: $danger;
  }

  .card-row {
    margin-top: 24px;
    padding: 8px;
    background-color: rgb(230, 234, 255);
    border-radius: 8px;
  }
}
