@import 'styles/variables.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primary-text-color;
  color: white;
  padding: 12px 20px;
  height: $header-height;
  z-index: 9;

  &.title {
    font-size: 24px;
  }
}

.menu-icon {
  font-size: 24px;
  color: $primary-text-color;
}
