@import "./styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: $primary-text-color;
}

body {
  padding: $header-height 24px 0 24px;
}

a {
  text-decoration: none;
}
